*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1100px;
    margin:auto;
}
.win{
    height: 100vh;
    background: url(../Img/win.jpg)no-repeat center;
    background-size: cover;
}
.loss{
    height: 100vh;
    background: url(../Img/loss01.jpg)no-repeat center;
    background-size: cover;
}
.notification{
    height: 400px;
}